body {
    font-family: Arial, sans-serif;
    background-color: #726e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 1.25rem;
    border-radius: 1rem;
    width: 20rem;
    text-align: center;
}

h1 {
    margin: 0 0 .6rem;
}

#currentDate {
    margin: .6rem 0 1rem;
    font-size: 1rem;
    color: #777;
}

#newItem {
    width: calc(100% - 22px);
    padding: .6rem;
    margin-bottom: .4rem;
    border: .05rem solid #ccc;
    border-radius: .25rem;
}

button {
    padding: .2rem 3rem;
    border: none;
    background: #5c7a4b;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}

button:hover {
    background: #017935;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem;
    background: #f9f9f9;
    margin-bottom: .3rem;
    border-radius: .25rem;
}

li.completed {
    text-decoration: line-through;
    color: #777;
}

li button {
    background: #dc3545;
    padding: .3rem;
    border: none;
    color: white;
    border-radius: .25rem;
    cursor: pointer;
}

li button:hover {
    background: #c82333;
}

.checkbox {
    margin-right: .6rem;
}